cffi
cloudpickle
cycler
dask
decorator
imageio
kiwisolver
matplotlib
networkx
numpy>=1.8.2
pandas
Pillow
pycparser
pygit
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
scikit-image
scikit-learn
scipy
six
toolz
torch
torchvision
tqdm
